{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <main id="BDE_index">

        <section>

            <article id="BDE_title">
                <h1>Bureau Des Étudiants</h1>
                <h2>La Rochelle Université</h2>
                <img src="{{ asset('img/logo_insti_classique.png') }}" alt="Logo BDE LRU">
            </article>

            <article id="BDE_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d691.0517183603187!2d-1.1571952714524614!3d46.146626527323704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480153b4b21b47ed%3A0xd8ebcd973e06667f!2sBDE%20La%20Rochelle%20Universit%C3%A9!5e0!3m2!1sfr!2sfr!4v1682094236536!5m2!1sfr!2sfr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>

        </section>

    </main>

{% endblock %}
