{% extends 'base.html.twig' %}

{% block title %}| Qui sommes nous{% endblock %}

{% block body %}

    <main>
        <section>

            <article id="BDE_desc" class="qsm_article">

                <h2>Qu'est ce qu'est le BDE LRU ?</h2>

                <p>
                    Le Bureau des Élèves La Rochelle Université (BDE LRU) est une association étudiante créée dans le
                    but de
                    promouvoir la vie étudiante et de représenter les étudiants.
                    Situé dans le bâtiment MSI (Maison des Sciences de l'Ingénieur) du Pôle Sciences de l'Université de
                    La
                    Rochelle, le BDE est accessible à tous les étudiants de l'université.
                </p>

                <p>
                    Le BDE est un lieu de vie étudiante où les étudiants peuvent se rassembler pour socialiser,
                    organiser
                    des activités et projets, et accéder à des services pratiques. Le but principal de l'association est
                    de
                    créer une communauté étudiante soudée et active, en organisant des événements et en offrant des
                    services
                    de qualité.
                </p>

                <p>
                    Le BDE propose une grande variété d'activités et de services, adaptés aux intérêts et aux besoins
                    des
                    étudiants. Les soirées organisées par le BDE sont très populaires et constituent un excellent moyen
                    pour
                    les étudiants de se détendre et de socialiser. Les après-midis organisées par le BDE proposent quant
                    à
                    eux des activités plus calmes, comme des jeux de société, des ateliers créatifs ou des projections
                    de
                    films.
                </p>

                <p>
                    Le BDE est également impliqué dans des projets tutorés par l'association. Ces projets permettent aux
                    étudiants de travailler ensemble sur des projets créatifs, académiques ou associatifs, dans une
                    atmosphère conviviale et stimulante. Le BDE met aussi à disposition des étudiants un grand local,
                    qui comporte une salle de thèse pour travailler silencieusement, un espace de détente pour jouer aux
                    jeux de société que nous avons, un espace de restauration comprenant un frigo et un microonde.
                </p>

                <p>
                    Le BDE offre aussi des services pratiques aux étudiants, tels que la reprographie. Le service de
                    reprographie permet aux étudiants d'imprimer en A4, A3, des enveloppes et des étiquettes, et même de
                    faire des reliures. Le BDE propose aussi un service de snacking, moins cher que les distributeurs et
                    que le carrefour, pour les étudiants qui ont besoin de se restaurer rapidement.
                </p>

                <p>
                    En résumé, le Bureau des Élèves (BDE) de La Rochelle Université est une association étudiante
                    dynamique
                    qui propose une grande variété d'activités et de services aux étudiants. Situé dans le bâtiment MSI
                    (Maison des Sciences de l'Ingénieur) du Pôle Sciences de l'Université de La Rochelle, le BDE est
                    accessible à tous les étudiants de l'université. L'association est un lieu de vie étudiante où les
                    étudiants peuvent se rassembler pour socialiser, organiser des activités et projets, et accéder à
                    des
                    services pratiques. Le BDE est une véritable communauté étudiante soudée et active, qui cherche à
                    améliorer le confort et la qualité de travail / de vie des étudiants.
                </p>
            </article>

            <article id="BDE_find" class="qsm_article">

                <h2>Où nous trouver ?</h2>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d691.0517183603187!2d-1.1571952714524614!3d46.146626527323704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480153b4b21b47ed%3A0xd8ebcd973e06667f!2sBDE%20La%20Rochelle%20Universit%C3%A9!5e0!3m2!1sfr!2sfr!4v1682094236536!5m2!1sfr!2sfr"
                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>

            <article id="BDE_contacts" class="qsm_article">

                <h2>Comment nous contacter ?</h2>

                <ul class="contact-items">
                    <ul class="contact-items-expand">
                        <li><i class="fal fa-map-pin"></i></li>

                        <li>
                            <h3>Directement à notre local</h3>
                            <h4>
                                Le BDE est situé dans le bâtiment MSI (Maison des Sciences de l'Ingénieur) du Pôle
                                Sciences de l'Université de La Rochelle.
                            </h4>
                            <h5>Maison des Sciences de l'Ingénieur, Av. Henri Becquerel, 17000 La Rochelle</h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fal fa-at"></i></li>

                        <li>
                            <h3>Mail</h3>
                            <h4>
                                Contactez nous par mail !
                            </h4>
                            <h5>bde_lru@gmail.com</h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fab fa-discord"></i></li>
                        <li>
                            <h3>Discord</h3>
                            <h4>
                                Rejoignez notre serveur Discord pour discuter avec nous, obtenir des informations sur
                                les événements et les projets du BDE, mais c'est également un lieu de partage et de
                                convivialité où vous retrouverez nos horaires d'ouverture, nos services, nos activités
                                et nos projets !
                            </h4>
                            <h5>
                                <a href="https://discord.gg/wruQnk2VXY" target="_blank">
                                    Cliquez ici pour rejoindre le serveur Discord !
                                </a>
                            </h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fab fa-instagram"></i></li>
                        <li>
                            <h3>Instagram</h3>
                            <h4>
                                Suivez-nous sur Instagram pour être au courant de nos dernières actualités et de nos
                                événements !
                            </h4>
                            <h5>
                                <a href="https://www.instagram.com/bde_lru/" target="_blank">
                                    Cliquez ici pour nous suivre sur Instagram !
                                </a>
                            </h5>
                        </li>
                    </ul>
                </ul>
            </article>
        </section>
    </main>

{% endblock %}

